/*page html*/
html{
  font-family: 'Open Sans', sans-serif;
  background-image: url(/img/wood.jpg);
  padding-top: 100px;
  height: 800px;
  color:#F0F4C3
}
/*body*/
body{
  width: 70%;
  margin: auto;
  line-height: 30px
}
a{
  color:white;
  text-decoration: none;
}
