/*page html*/
html{
  font-family: 'Open Sans', sans-serif;
  background-image: url(/img/wood.jpg);
  padding-top: 100px;
  height: 800px;
  color:#F0F4C3
}
/*body*/
body{
  width: 60%;
  margin: auto;
  line-height: 30px
}
a{
  color:white;
  text-decoration: none;
}
/*header*/
.header{
  background-color: #424242;
  height: 133px;
  width: 100%;
  text-align: center;
}
.title{
  padding-top: 20px;
}
.picture{
  float: right;
}
/*left section*/
.left{
  width: 25%;
  height: 100%;
  float: left;
  background-color:#424242;
}
.left h3{
  text-align: center;
}
.left li{
  list-style-type: none;
}
.left ul{
  padding-left: 60px;
}
.coordinates{
  border-bottom: 2px solid #F0F4C3;
}
.hobby{
  border-bottom: 2px solid #F0F4C3;
}
/*right section*/
.right{
  width: 75%;
  height: 100%;
  float: right;
  background-color: rgba(0, 0, 0, 0.6);
}
.right h2{
  text-align: center;
}
.right h4{
  text-align: center;
}
.right li {
  list-style-type: none;
}
h4{
  text-decoration: underline;
}
.work{
  border-bottom: 2px dotted #F0F4C3;
  height: 25%
}
td{
  width: 200px;
  padding-left: 80px;
  padding-bottom: 30px
}
/*responsive*/
@media screen and (max-width:800px) {
  body{
    display: block;
  }
}
